//if top_img === false
//  h1.page-title= page.title
.game_frame.game_loaded(style="position: relative;")
  button.fullscreen_btn(title="全屏按钮" onclick="shine.enterFullscreen(document.getElementById(\"game-iframe\"))")
    img(src="https://itch.io/static/images/enlarge.svg?1673683293")
  #game-select.game-select
hr
h3= 视频列表
.games
  if site.data.game
    each i,index in site.data.game
      div(class="mygame" onclick=`javascipt:selectGame(`+index+`)`)
        div(id=`game-item-`+index class="game-item" data-src=url_for(i.link))
          a(href="#game-select")
            img.game-item-cover(src=url_for(i.cover))
        .game-desc
          .game-title
            a(href="#game-select")= i.title
          .game-info= i.description
          .game-platform-icon
            each val,key in i.platform
              if val == "windows"
                i.fa-brands.fa-windows
              else if val == "linux"
                i.fa-brands.fa-linux
              else if val == "android"
                i.fa-brands.fa-android
              else if val == "ios"
                i.fa-brands.fa-apple

style.
  .games{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  @media screen and (max-width: 1200px){
    .games{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  @media screen and (max-width: 900px){
    .games{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  @media screen and (max-width: 600px){
    .games{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  .mygame{
    position: relative;
    width: 100%;
    border: 1px solid var(--mj-card-border);
    border-radius: 12px;
  }
  .game-item{
    overflow: hidden;
    height: 160px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .game-item img {
    position: relative;
    width: 100%;
    margin: 0 !important;
    height: 100%;
    transform: scale(1.0);
    transition: .3s;
    object-fit: cover;
  }
  .mygame:hover .game-item img {
    transition: .3s;
    transform: scale(1.1);
  }
  .game-title{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .game-info{
    font-size: 14px;
    padding: 0 10px;
    color: var(--mj-secondtext);
  }
  .game-select{
    position:relative;
    width:100%;
    height:0;
    padding-bottom:75%;
  }
  .game-select iframe{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    border-radius: 12px;
  }

  button.fullscreen_btn { 
    opacity: .4;
    position: absolute;
    bottom: -42px;
    right: 0;
    margin: 8px;
    font-size: 16px;
    display: block;
    transition: opacity 0.4s;
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    z-index: 1;
  }
  button.fullscreen_btn:hover { 
    opacity: .8;
  }
  button.fullscreen_btn img { 
    display: block;
    width: 30px;
    height: 30px;
  }

  #page {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
  }
  #page .page-title {
    display: none;
  }
  #page .author-content-item .card-content .banner-button-group .banner-button:hover {
    color: var(--anzhiyu-white);
    border-radius: 20px !important;
  }
  .games {
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e0e3ed;
  }
  .games:hover {
    border-color: var(--style-border-hover);
  }

  /* 评论 */
  .tk-expand,
  .tk-comments-container>.tk-comment,
  .tk-submit:nth-child(1){
    background: var(--card-bg);
    border: 1px solid #e0e3ed;
    box-shadow: 0 5px 10px rgb(189 189 189 / 10%);
    transition: all .3s ease-in-out;
    border-radius: 12px;
  }

  .tk-comments-container>.tk-comment:hover,
  .tk-submit:nth-child(1):hover {
    border-color: var(--style-border-hover);
  }

  .tk-submit {
    padding: 20px 10px 0;
  }

  .tk-comments-container>.tk-comment {
    padding: 15px;
  }

  .tk-comments-no {
    background: var(--card-bg);
    border: 1px solid #e0e3ed;
    box-shadow: 0 5px 10px rgb(189 189 189 / 10%);
    transition: all .3s ease-in-out;
    border-radius: 12px;
  }
  .tk-comments-no:hover {
    border-color: var(--style-border-hover);
  }

  #page > div.games > div.mygame > div.game-desc > div.game-title {
    border-bottom: var(--style-border);
  }
  #page > div.games > div.mygame > div.game-desc > div.game-info {
    border-bottom: var(--style-border);
  }
  #page > div.games > div.mygame > div.game-desc > div.game-platform-icon {
    padding: 0 10px;
  }
  #page > div.games > div.mygame > div.game-desc > div.game-platform-icon > i {
    margin-right: 10px;
  }
!= page.content